.slider{
  //width: 100%;
  align-self: center;
&-image{
  border-radius: 20px;
  width: 500px;
  height: 500px;
  display: block;
}
  &-button-holders{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

    &-button{
      border-radius: 10px;
      flex-basis: 20%;
      height: 40px;
      &:hover{
        background-color: lightgray;
      }
    }
  }
}
